---
layout: default
---

{% assign data = site.data.data %}

{% if site.open %}

<div class="wrapper">
    {% include header.html%}
    <br/>
    {% include profile.html %}
    <br/>
    {% include experiences.html %}
    <br/>
    {% include projects.html %}
    <br/>
    {% include skills.html %}
    <br/>
    {% include education.html %}
    <br/>
    {% include language.html %}
    <br/>
    {% include certifications.html %}
    <br/>
    {% include interests.html %}
    <br/>
    {% include publications.html %}
    <br/>
    {% include evaluation.html %}
</div>

{% include footer.html %}

{% else %}

{% include close.html %}

{% endif %}
