{% assign contact = data.contact %}
<ul class="list-unstyled contact-list">

    {% if contact.email.display %}
    <li class="email"><i class="fas fa-envelope"></i>
        <a href="mailto:{{ contact.email.title }}">{{ contact.email.title }}</a>
    </li>
    {% endif %}

    {% if contact.address.display %}
    <li class="address">
        {{ contact.address.title }}
    </li>
    {% endif %}

    {% if contact.birthdate.display %}
    <li class="birthdate">
        {{ contact.birthdate.title }}
    </li>
    {% endif %}

    {% if contact.phone.display %}
    <li class="phone"><i class="fas fa-phone"></i>
        <a href="tel:{{ contact.phone.title }}">{{ contact.phone.title }}</a>
    </li>
    {% endif %}

    {% if contact.whatsapp.display %}
    <li class="whatsapp"><i class="fab fa-whatsapp"></i>
        <a href="https://wa.me/{{ contact.whatsapp.title }}" target="_blank">{{ contact.whatsapp.title }}</a>
    </li>
    {% endif %}

    {% if contact.telegram.display %}
    <li class="telegram"><i class="fab fa-telegram"></i>
        <a href="https://t.me/{{ contact.telegram.title }}" target="_blank">{{ contact.telegram.title }}</a>
    </li>
    {% endif %}

    {% if contact.website.display %}
    <li class="website"><i class="fas fa-globe"></i>
        <a href="https://{{ contact.website.title }}" target="_blank">{{ contact.website.title }} <i>(Under Construction)</i></a>
    </li>
    {% endif %}

    {% if contact.medium.display %}
    <li class="medium"><i class="fab fa-medium"></i>
        <a href="https://medium.com/@{{ contact.medium.title }}" target="_blank">{{ contact.medium.title }}</a>
    </li>
    {% endif %}

    {% if contact.linkedin.display %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
        <a href="https://linkedin.com/in/{{ contact.linkedin.title }}" target="_blank">{{ contact.linkedin.title }}</a>
    </li>
    {% endif %}

    {% if contact.github.display %}
    <li class="github"><i class="fab fa-github"></i>
        <a href="https://github.com/{{ contact.github.title }}" target="_blank">{{ contact.github.title }}</a>
    </li>
    {% endif %}

    {% if contact.gitlab.display %}
    <li class="gitlab"><i class="fab fa-gitlab"></i>
        <a href="https://gitlab.com/{{ contact.gitlab.title }}" target="_blank">{{ contact.gitlab.title }}</a>
    </li>
    {% endif %}

    {% if contact.bitbucket.display %}
    <li class="bitbucket"><i class="fab fa-bitbucket"></i>
        <a href="https://bitbucket.com/{{ contact.bitbucket.title }}" target="_blank">{{ contact.bitbucket.title }}</a>
    </li>
    {% endif %}

    {% if contact.twitter.display %}
    <li class="twitter"><i class="fab fa-twitter"></i>
        <a href="https://twitter.com/{{ contact.twitter.title }}" target="_blank">{{ contact.twitter.title }}</a>
    </li>
    {% endif %}

    {% if contact.stackoverflow.display %}
    <li class="stackoverflow"><i class="fab fa-stack-overflow"></i>
        <a href="https://stackoverflow.com/users/{{ contact.stackoverflow.title }}"
            target="_blank">{{ contact.stackoverflow.title }}</a>
    </li>
    {% endif %}

    {% if contact.quora.display %}
    <li class="quora"><i class="fab fa-quora"></i>
        <a href="https://www.quora.com/profile/{{ contact.quora.title }}" target="_blank">{{ contact.quora.title }}</a>
    </li>
    {% endif %}

    {% if contact.goodreads.display %}
    <li class="goodreads"><i class="fab fa-goodreads"></i>
        <a href="https://www.goodreads.com/user/show/{{ contact.goodreads.title }}"
            target="_blank">{{ contact.goodreads.title }}</a>
    </li>
    {% endif %}

</ul>
