{% assign education = data.education %}
{% if education and education.display %}
<section class="section educations-section">

    <div class="section-title">
        {{ education.title }}
    </div>

    {% for educationexperience in education.items %}
    <div class="item">

        <div class="upper-row">
           
            <div class="university"> {{ educationexperience.mdlogo | markdownify}} {{ educationexperience.university }}</div>
            <div class="time">{{ educationexperience.time }}</div>
        </div>

        <div class="upper-row">
            <div class="major">{{ educationexperience.major }}</div>
            <div class="degree">{{ educationexperience.degree }}</div>
        </div>

        {% if educationexperience.details %}
        <div class="details">
            {{ educationexperience.details | markdownify }}
        </div>
        {% endif %}

    </div>
    {% endfor %}

</section>
{% endif %}
