{% assign experiences = data.experiences %}
{% if experiences and experiences.display %}
<section class="section experiences-section">
    <div class="section-title">
        {{ experiences.title }}
    </div>

    {% for experience in experiences.items %}
    <div class="item">
        <div class="upper-row">
            <div class="company">
                <img src="{{ site.baseurl }}/assets/images/companies/{{ experience.logo }}" alt="{{ experience.company }}">
                {{ experience.company }}
                {% if experience.tag %}
                <small>[{{ experience.tag }}]</small>
                {% endif %}
                {% if experience.management %}
                <small>, [{{ experience.management }}]</small>
                {% endif %}
                <div class="role">{{ experience.role }}</div>
                <div class="rdescription">{{ experience.rdescription }}</div>
            </div>
            <div class="time">{{ experience.time }}</div>
        </div>
        <div class="upper-row">
            <div class="location">{{ experience.location }}</div>
        </div>
        <div class="upper-row">
            <div class="ctech">{{ experience.technologies}}</div>
        </div>
        {% if experience.details %}
        <div class="jdescription">
            {{ experience.details | markdownify }}
        </div>
        {% endif %}
        <br />
    </div>
    {% endfor %}

</section>
{% endif %}