{% assign experiences = data.experiences %}
{% if experiences and experiences.display %}
<section class="section experiences-section">
    <div class="section-title">
        {{ experiences.title }}
    </div>

    {% for experience in experiences.items %}
    <div class="item">
        <div class="upper-row">
            <div class="company">
                <img src="{{ site.baseurl }}/assets/images/companies/{{ experience.logo }}"
                    alt="{{ experience.company }}">
                <small>
                    {{ experience.company }}
                    {% if experience.tag %}
                    [{{ experience.tag }}]
                    {% endif %}
                    {% if experience.management %}
                    , [{{ experience.management }}]
                    {% endif %}
                </small>
            </div>
            <div class="time">{{ experience.time }}</div>
        </div>
        <div class="upper-row">
            <div class="role">{{ experience.role }}</div>
            <div class="location">{{ experience.location }}</div>
        </div>
        <div class="upper-row">
            <div class="cdescription">{{ experience.rdescription }}</div>
            <div class="ctech">{{ experience.technologies}}</div>
        </div>
        {% if experience.details %}
        <div class="jdescription">
            {{ experience.details | markdownify }}
        </div>
        {% endif %}
        <br />
    </div>
    {% endfor %}

</section>
{% endif %}