{% assign languages = data.languages %}
{% if languages and languages.display %}
<section class="section languages-section">

    <div class="section-title">
        {{ languages.title }}
    </div>

    <ul class="list-unstyled languages-list">
        {% for language in languages.items %}
        <li>
            {% if language.flagicon %}
                {{ language.flagicon | markdownify }}
            {% else %}
                {{ language.idiom }}
            {% endif %}
            {% if language.level %}
                <small>[{{ language.level }}]</small>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

</section>
{% endif %}
