{% assign languages = data.languages %}
{% if languages and languages.display %}
<section class="section languages-section">
    <div class="section-title">
        {{ languages.title }}
    </div>

    <div class="details">
        <table>
            <thead>
                <tr>
                    <th colspan="1">Language(s)</th>
                    <th colspan="1">Level estimate (/5)</th>
                </tr>
            </thead>
            {% for language in languages.items %}
            <tbody>
                <tr>
                    <td>{{ language.idiom }}</td>
                    <td>{{ language.level }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
</section>
{% endif %}