{% assign skills = data.skills %}
{% if skills and skills.display %}
<section class="section skills-section">

    <div class="section-title">
        {{ skills.title }}
    </div>

    <div class="details">
        <table>
            <thead>
                <tr>
                    <th colspan="1">Technical Skill</th>
                    <th colspan="1">Level estimate (/5)</th>
                </tr>
            </thead>
            {% for tech in skills.techs %}
            <tbody>
                <tr>
                    <td>{{ tech.name }}</td>
                    <td>{{ tech.level }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        {{ skills.details | markdownify }}
    </div>
    {% if skills.comment %}
    <div class="details">
        <i>
            {{ skills.comment }}
        </i>
    </div>
    {% endif %}

</section>
{% endif %}